In [1]:
import numpy as np                                      #Importing the Dependencies
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn import svm
from sklearn.metrics import accuracy_score

# Data Collection and Data Processing

In [2]:
health_data = pd.read_csv("C:/Users/Kalpit Bhardwaj/Desktop/New folder (2)/COVID19ML-master/COVIDandFLUdata.csv")

In [3]:
health_data.head()

,Diagnosis,InitialPCRDiagnosis,Age,Sex,Region,CommunityTransmission,NumberOfFamilyMembersInfected,neutrophil,neutrophilCategorical,serumLevelsOfWhiteBloodCell,...,Temperature,Hematocrit,ActivatedPartialThromboplastinTime,Fibrinogen,Urea,Fatigue,Monocytes,Basophil,Cancer,Thrombocytes
0,H1N1,NaN,67.0,F,NaN,NaN,NaN,NaN,NaN,NaN,...,38.111111,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN
1,H1N1,NaN,29.0,M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1N1,NaN,22.0,F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1N1,NaN,20.0,F,NaN,NaN,NaN,NaN,NaN,NaN,...,36.555556,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN
4,H1N1,NaN,21.0,M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
health_data.shape
health_data.isnull().sum()

Diagnosis                                    0
InitialPCRDiagnosis                       1381
Age                                         28
Sex                                         76
Region                                    1167
CommunityTransmission                     1236
NumberOfFamilyMembersInfected             1431
neutrophil                                1382
neutrophilCategorical                     1337
serumLevelsOfWhiteBloodCell               1334
serumLevelsOfWhiteBloodCellCategorical    1294
lymphocytes                               1327
lymphocytesCategorical                    1290
Plateletes                                1435
CReactiveProteinLevels                    1346
CReactiveProteinLevelsCategorical         1327
Eosinophils                               1477
Red blood cells                           1481
Hemoglobin                                1461
Procalcitonin                             1452
DurationOfIllness                         1397
DaysToDeath                               1482
DaysInIncubation                          1447
CTscanResults                             1324
XrayResults                               1438
RiskFactors                               1259
SmokingStatus                             1475
VapingStatus                              1485
NumberAffectedLobes                       1461
GroundGlassOpacity                        1390
Asymptomatic                              1464
Diarrhea                                  1035
Fever                                      559
Coughing                                   623
ShortnessOfBreath                         1410
SoreThroat                                 815
NauseaVomitting                           1063
TimeBetweenAdmissionAndDiagnosis          1438
Pregnant                                  1420
BabyDeath                                 1445
PrematureDelivery                         1470
Temperature                                856
Hematocrit                                1478
ActivatedPartialThromboplastinTime        1476
Fibrinogen                                1476
Urea                                      1466
Fatigue                                    954
Monocytes                                 1484
Basophil                                  1484
Cancer                                    1483
Thrombocytes                              1484
dtype: int64

In [5]:
health_data.describe()

,Age,NumberOfFamilyMembersInfected,neutrophil,serumLevelsOfWhiteBloodCell,Plateletes,Eosinophils,Red blood cells,Hemoglobin,Procalcitonin,DurationOfIllness,...,NumberAffectedLobes,TimeBetweenAdmissionAndDiagnosis,Temperature,Hematocrit,ActivatedPartialThromboplastinTime,Fibrinogen,Urea,Monocytes,Basophil,Thrombocytes
count,1457.000000,54.000000,103.000000,151.000000,50.000000,8.000000,4.000000,24.000000,33.000000,88.000000,...,24.000000,47.000000,629.000000,7.000000,9.000000,9.000000,19.000000,1.0,1.00,1.0
mean,26.507818,3.370370,6.854078,6.885159,220.320000,0.061250,4.225000,45.500000,2.586394,14.068182,...,1.750000,5.893617,38.067409,0.320286,33.188889,3.685556,3.123158,2.5,0.26,106.0
std,21.492307,2.658531,12.690131,4.346668,147.819034,0.074917,0.218251,51.074907,12.739322,9.022062,...,1.188715,4.161072,1.093831,0.084439,3.863756,0.797811,0.887556,NaN,NaN,NaN
min,0.000000,1.000000,0.446000,0.500000,65.000000,0.010000,3.990000,11.300000,0.020000,1.000000,...,0.000000,0.000000,35.722222,0.137000,27.000000,2.340000,0.500000,2.5,0.26,106.0
25%,7.000000,1.000000,2.160000,3.995000,130.000000,0.010000,4.095000,13.000000,0.030000,7.000000,...,1.000000,2.000000,37.222222,0.319500,30.500000,3.590000,2.780000,2.5,0.26,106.0
50%,24.000000,2.000000,3.310000,5.690000,185.500000,0.010000,4.205000,14.500000,0.070000,12.000000,...,2.000000,6.000000,38.000000,0.355000,33.400000,3.910000,3.000000,2.5,0.26,106.0
75%,42.000000,6.000000,6.645000,9.155000,250.750000,0.120000,4.335000,109.250000,0.120000,20.250000,...,2.000000,9.000000,38.722222,0.365500,34.600000,4.040000,3.845000,2.5,0.26,106.0
max,88.000000,8.000000,93.000000,36.070000,950.000000,0.200000,4.500000,137.000000,73.000000,37.000000,...,5.000000,15.000000,42.222222,0.380000,39.000000,4.750000,4.190000,2.5,0.26,106.0

In [6]:
health_data.iloc[:,0].value_counts()

H1N1       1072
COVID19     413
Name: Diagnosis, dtype: int64

In [7]:
df=pd.get_dummies(health_data['Sex'])
df

      F  M
0     1  0
1     0  1
2     1  0
3     1  0
4     0  1
...  .. ..
1480  0  0
1481  0  0
1482  0  0
1483  0  0
1484  0  0

[1485 rows x 2 columns]

In [8]:
health_data

,Diagnosis,InitialPCRDiagnosis,Age,Sex,Region,CommunityTransmission,NumberOfFamilyMembersInfected,neutrophil,neutrophilCategorical,serumLevelsOfWhiteBloodCell,...,Temperature,Hematocrit,ActivatedPartialThromboplastinTime,Fibrinogen,Urea,Fatigue,Monocytes,Basophil,Cancer,Thrombocytes
0,H1N1,NaN,67.00,F,NaN,NaN,NaN,NaN,NaN,NaN,...,38.111111,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN
1,H1N1,NaN,29.00,M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,H1N1,NaN,22.00,F,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,H1N1,NaN,20.00,F,NaN,NaN,NaN,NaN,NaN,NaN,...,36.555556,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN
4,H1N1,NaN,21.00,M,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,COVID19,NaN,1.40,NaN,NaN,NaN,NaN,NaN,NaN,9.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,COVID19,NaN,0.83,NaN,NaN,NaN,NaN,NaN,NaN,14.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,COVID19,NaN,3.00,NaN,NaN,NaN,NaN,NaN,NaN,15.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,COVID19,NaN,4.00,NaN,NaN,NaN,NaN,NaN,NaN,6.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1484,COVID19,NaN,6.00,NaN,NaN,NaN,NaN,NaN,NaN,5.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:

df2=pd.get_dummies(health_data['Fever'])
df3=pd.get_dummies(health_data['Coughing'])
df4=pd.get_dummies(health_data['SoreThroat'])

health_data=pd.concat([df2,health_data],axis=1)
health_data=pd.concat([df3,health_data],axis=1)
health_data=pd.concat([df4,health_data],axis=1)

In [10]:
health_data=pd.concat([df,health_data],axis=1)
health_data.drop('Sex',axis=1,inplace=True)
health_data

,F,M,No,Yes,No,No,Yes,No,Yes,Yes,...,Temperature,Hematocrit,ActivatedPartialThromboplastinTime,Fibrinogen,Urea,Fatigue,Monocytes,Basophil,Cancer,Thrombocytes
0,1,0,1,0,0,0,1,0,1,0,...,38.111111,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN
1,0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1,0,1,0,0,0,1,0,1,0,...,36.555556,NaN,NaN,NaN,NaN,Yes,NaN,NaN,NaN,NaN
4,0,1,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1480,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1481,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1482,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1483,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1484,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:

health = health_data.drop(health_data.iloc[:, 15:60], axis = 1)
print(health)

      F  M  No  Yes  No  No   Yes  No  Yes  Yes  Diagnosis  \
0     1  0   1    0   0    0    1   0    1     0      H1N1
1     0  1   0    0   0    0    0   0    0     0      H1N1
2     1  0   0    0   0    0    0   0    0     0      H1N1
3     1  0   1    0   0    0    1   0    1     0      H1N1
4     0  1   0    0   0    0    0   0    0     0      H1N1
...  .. ..  ..  ...  ..  ...  ...  ..  ...   ...       ...
1480  0  0   0    0   0    0    0   0    0     0   COVID19
1481  0  0   0    0   0    0    0   0    0     0   COVID19
1482  0  0   0    0   0    0    0   0    0     0   COVID19
1483  0  0   0    0   0    0    0   0    0     0   COVID19
1484  0  0   0    0   0    0    0   0    0     0   COVID19

     InitialPCRDiagnosis    Age Region CommunityTransmission
0                    NaN  67.00    NaN                   NaN
1                    NaN  29.00    NaN                   NaN
2                    NaN  22.00    NaN                   NaN
3                    NaN  20.00    NaN                   NaN
4                    NaN  21.00    NaN                   NaN
...                  ...    ...    ...                   ...
1480                 NaN   1.40    NaN                   NaN
1481                 NaN   0.83    NaN                   NaN
1482                 NaN   3.00    NaN                   NaN
1483                 NaN   4.00    NaN                   NaN
1484                 NaN   6.00    NaN                   NaN

[1485 rows x 15 columns]

In [12]:
X = health.drop(columns = "InitialPCRDiagnosis",axis = 1,inplace=True)
X = health.drop(columns = "CommunityTransmission",axis = 1,inplace=True)
X = health.drop(columns = "Region",axis = 1,inplace=True)

C:\Users\Kalpit Bhardwaj\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [13]:
health.fillna(0,inplace=True)

C:\Users\Kalpit Bhardwaj\anaconda3\lib\site-packages\pandas\core\frame.py:4317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [14]:
health.groupby("Diagnosis").mean()

,F,M,No,Yes,No,No,Yes,No,Yes,Yes,Age
Diagnosis,,,,,,,,,,,
COVID19,0.479419,0.469734,0.058111,0.089588,0.079903,0.002421,0.397094,0.060533,0.629540,0.002421,36.651771
H1N1,0.430037,0.518657,0.222948,0.345149,0.075560,0.000000,0.543843,0.113806,0.483209,0.000000,21.907379

# Separating data and labels

In [15]:
X = health.drop(columns = "Diagnosis",axis = 1)      
Y = health["Diagnosis"]
print(X)
print(Y)

      F  M  No  Yes  No  No   Yes  No  Yes  Yes     Age
0     1  0   1    0   0    0    1   0    1     0  67.00
1     0  1   0    0   0    0    0   0    0     0  29.00
2     1  0   0    0   0    0    0   0    0     0  22.00
3     1  0   1    0   0    0    1   0    1     0  20.00
4     0  1   0    0   0    0    0   0    0     0  21.00
...  .. ..  ..  ...  ..  ...  ...  ..  ...   ...    ...
1480  0  0   0    0   0    0    0   0    0     0   1.40
1481  0  0   0    0   0    0    0   0    0     0   0.83
1482  0  0   0    0   0    0    0   0    0     0   3.00
1483  0  0   0    0   0    0    0   0    0     0   4.00
1484  0  0   0    0   0    0    0   0    0     0   6.00

[1485 rows x 11 columns]
0          H1N1
1          H1N1
2          H1N1
3          H1N1
4          H1N1
         ...
1480    COVID19
1481    COVID19
1482    COVID19
1483    COVID19
1484    COVID19
Name: Diagnosis, Length: 1485, dtype: object

# Training and Test data

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.1, stratify = Y, random_state = 1) #Splitting test & train data

In [17]:
print(X.shape , X_train.shape , X_test.shape, Y_train.shape)

(1485, 11) (1336, 11) (149, 11) (1336,)

# Model Training --> Logistic Regression

In [18]:
model = LogisticRegression()

In [19]:
model.fit(X_train,Y_train)

C:\Users\Kalpit Bhardwaj\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [20]:
X_train_prediction = model.predict(X_train)      #accuracy on training data
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [21]:
print('Accuracy on training data : ', training_data_accuracy)

Accuracy on training data :  0.843562874251497

In [22]:
X_test_prediction = model.predict(X_test)  #accuracy on test data
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [23]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.8523489932885906

# Model Training--> Random Forest Classifier

In [24]:
model = RandomForestClassifier()

In [25]:
model.fit(X_train, Y_train)

RandomForestClassifier()

In [26]:
X_test_prediction = model.predict(X_test)                  # accuracy on test data
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [27]:
print('Accuracy on test data : ', test_data_accuracy)

Accuracy on test data :  0.8993288590604027

# Model Training--> SVM

In [28]:
classifier = svm.SVC(kernel='linear')

In [29]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [30]:
X_train_prediction = classifier.predict(X_train)                 # accuracy score on the training data
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [31]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.8390718562874252

In [32]:
X_test_prediction = classifier.predict(X_test)             # accuracy score on the test data
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [33]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.8590604026845637

# Model Training--> GaussianNB

In [34]:
gnb = GaussianNB()

In [35]:
gnb.fit(X_train, Y_train)

GaussianNB()

In [36]:
X_train_prediction = gnb.predict(X_train)                 # accuracy score on the training data
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [37]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.7223053892215568

In [38]:
X_test_prediction = gnb.predict(X_test)             # accuracy score on the test data
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [39]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.7248322147651006

# Model Training--> DecisionTreeClassifier

In [40]:
Tree = DecisionTreeClassifier(criterion='gini', max_depth=4, random_state=0)

In [41]:
Tree.fit(X_train, Y_train)

DecisionTreeClassifier(max_depth=4, random_state=0)

In [42]:
X_train_prediction = Tree.predict(X_train)                 # accuracy score on the training data
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [43]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  0.8570359281437125

In [44]:
X_test_prediction = Tree.predict(X_test)             # accuracy score on the test data
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [45]:
print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the test data :  0.8523489932885906